<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterar Senha</title>
    <link rel="shortcut icon" href="/imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/esqueceu-senha.css">
</head>

<body>
    <nav class="menu">
        <input type="checkbox" class="menu-faketrigger">

        <div class="mobile-menu">
            <div class="linha1"></div>
            <div class="linha2"></div>
            <div class="linha3"></div>
        </div>

        <ul>
            <li><a href="https://www.instagram.com/ecitecnews/">Instagram</a></li>
            <li><a href="/templates/index.html">Sair</a></li>
        </ul>
    </nav>

    <section class="form-container">
        <div class="container">
            <form action="">
                <h1>Siga as Instruções!</h1>
                <p>Preencha o formulário com seu Nome e sua Matrícula e entraremos em contato pelo e-mail cadastrado</p>

                <div class="input-text">
                    <input type="text" name="" id="name-box" class="input" autocomplete="off">
                    <label>Seu nome completo:</label>
                </div>

                <div class="input-text">
                    <input type="text" name="" id="matricula-box" class="input" autocomplete="off">
                    <label>Sua matrícula:</label>
                </div>

                <div class="botao"><input type="submit" value="Confirmar"></div>
            </form>
        </div>
    </section>

</body>
</html>