<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professores</title>
    <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/Informacoes-aluno.css">
</head>
<body>
    <nav>
        <img src="https://cdn-icons-png.flaticon.com/128/7666/7666148.png" alt="menu" id="menu">
        <div>
            <span id="nome_escola"> ECIT ENEAS</span> 
            <img src="/static/imagens/logo-removebg-preview.png" alt="logo" id="logo">
        </div>
    </nav>

    <div class="block">
        <div class="cabecalho">
            <h1 id="nome_aluno"> Lucas Guilherme Suarez de Araujo </h1>
            <a href="#" id="botao_imprimir"> Imprimir <img src="/static/imagens/pdf.png" alt="pdf"></a>
        </div>
        <div class="navegacao">
            <button id="botao1"> Dados</button>
            <button id="botao2"> Boletim</button>
            <hr>
        </div>
        <div class="parte_baixo">
            <div class="informacoes">
                <img src="/static/imagens/perfil-de-usuario.png" alt="iconuser">
                <div class="bloco">
                    <div class="linha1">
                        <span class="item1"> <b>Nome:</b> Lucas Guilherme Suarez de Araujo </span>
                        <span class="item2"> <b>Matricula:</b> 202214610039 </span>
                    </div>
                    <div class="linha2">
                        <span class="item1"><b>Cpf:</b> 162.644.232-11</span>
                        <span class="item2"> <b>Data de Nascimento:</b> 13/07/2022</span>
                    </div>
                    <div class="linha1">
                        <span class="item1"><b>Email:</b> luizmiguelgb@gmail.com</span>
                    </div>
                    <div class="linha2">
                        <span class="item1"><b>Curso:</b> Sexologia</span>
                    </div>
                    <div class="linha3">
                        <span><b>Situacao:</b> <span id="situacao_matricula"> Matriculado </span></span>
                        <span><b>Inicio:</b> 12/02/2020</span>
                        <span><b>Termino:</b> 12/02/2023</span>
                    </div>
                </div>
            </div>

            <hr>
            <h3 id="titulo_responsavel"> Dados Familiares</h3>
            <hr>

            <div class="bloco_responsavel">
                <div class="linha1">
                    <span> <b>Nome:</b> Joseilda Tavares Pinto Silva</span>
                </div>
                <div class="linha2">
                    <span> <b>E-mail:</b> joseildinhada06@gmail.com</span>
                </div>
                <div class="linha1">
                    <span> <b>Cpf:</b> 1291983919182</span>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/informacoes-aluno.js"></script>
</body>
</html>