<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro de Professores</title>
    <link rel="icon" href="/static/imagens/favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/foto-preview.css">
    <link rel="stylesheet" href="/static/css/tela_de_cadastro-p.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <form method="get" action=".">
                <!--Pré-visualizar a imagem-->
                <div class="max-width">
                    <div class="imagemContainer">
                        <img src="/static/imagens/default_avatar.jpg" alt="Selecione uma imagem" id="imgAvatar">
                    </div>
                </div>
                <input type="file" id="flImage" name="fImage" accept=".jpeg, .jpg, .png">
                <!---->

                <div class="form-group nome_aluno">
                    <label for="nome-aluno">Nome do Professor:</label>
                    <input type="text" id="nome-aluno" name="nome-aluno" placeholder="Digite o nome do professor" required>
                </div>
                <div>
                    <div class="form-group inline cpf-1">
                        <label for="cpf">CPF:</label>
                        <input type="text" id="cpf" name="cpf" placeholder="Digite o CPF" required>
                    </div>
        
                    <div class="form-group numero-aluno-1">
                        <label for="numero-aluno">Número do Professor:</label>
                        <input type="tel" id="numero-aluno" name="numero-aluno" placeholder="Digite o número do professor" required>
                    </div>
                </div>

                <div>
                    <div class="form-group grande">
                        <label for="email">E-mail:</label>
                        <input type="email" id="email" name="email" placeholder="Digite o email" required>
                    </div>

                    <div class="form-group data-t">
                        <label for="data-nascimento">D/Nascimento:</label>
                        <input type="date" id="data-nascimento" name="data-nascimento" required>
                    </div>
                </div>

                <div class="line1">
                    <div class="input-box form-group cep-1">
                        <label class="fonte_do_input_lado" for="cep">CEP:</label>
                        <input class="custom-input cep2" name="cep" type="text" id="cep" value="" size="10" maxlength="9" onblur="pesquisacep(this.value);" placeholder="Digite o CEP"/>
                    </div>

                    <div class="input-box form-group rua-1">
                        <label class="fonte_do_input_lado" for="rua">RUA:</label>
                        <input class="custom-input rua2" name="rua" type="text" id="rua" size="60" />
                    </div>
                </div>
                
                <div class="line2">
                    <div class="input-box form-group bairro-cidade">
                        <label class="fonte_do_input_lado" for="bairro">BAIRRO:</label>
                        <input class="custom-input" name="bairro" type="text" id="bairro" size="40" />
                    </div>

                    <div class="input-box form-group bairro-cidade">
                        <label class="fonte_do_input_lado" for="cidade">CIDADE:</label>
                        <input class="custom-input" name="cidade" type="text" id="cidade" size="40" />
                    </div>
                    
                    <div class="input-box form-group uf">
                        <label class="fonte_do_input_lado" for="Estado">Estado:</label>
                        <input class="custom-input" name="uf" type="text" id="uf" size="2" />
                    </div>

                    <div class="input-box form-group n-casa">
                        <label class="fonte_do_input_lado" for="numero">NÚMERO:</label>
                        <input class="custom-input numero_casa" id="numero" type="text" name="numero" placeholder="Casa" required>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="container-right">
        <p class="p">Cadastro de Professores</p>

        <form action="/menu/adm/cadastrar/aluno" class="box_aluno">
            <button type="submit" class="btn btn-danger botao_aluno">Cadastro de Alunos</button>
        </form>
      
        <form action="" class="box_professor">
          <button type="submit" class="btn btn-primary botao_professor" disabled>Cadastro do Professor</button>
        </form>
        <div class="box_button">
            <div class="continue-button cont-botao">
                <button type="button" class="btn btn-warning botao">Cadastrar</button> <!-- BOTÃO PARA CONFIRMAR O CADASTRO -->
            </div>
        </div>
    </div>
      


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
    <!-- js -->
    <script src="/static/js/verificar-foto.js"></script>
    <script src="/static/js/cep.js"></script>
    <!-- js -->
</body>
</html>
