<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="shortcut icon" href="imagens/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="static/tela-login.css">
</head>
<body>
    <div class="div2"></div>
    <div>
        <h1>Login</h1><br>
        <p class="fala_login">Faça login para continuar</p><br><br><br><br><br><br>
        <p class="escreva-2">MATRICULA:</p>
        <input class="input", type="text" placeholder="Digite aqui"><br>
        <p class="escreva-2">SENHA:</p><br>
        <input class="input", type="input" placeholder="Digite aqui">
        <br><br>
        <button>ENTRAR</button>
    </div>
</body>
</html>